html,body {
    margin: 0;
    background-color: #F3EED9;
    font-family: Helvetica;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section,header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
h1 {
    text-align: center;
    
    color: #282661;
}
img {
    height: auto;
    border-radius: 10px;
}
button {
    background-color:  #fc3845;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    color:#282661;
    border: 0;
    margin: 1em 0 0 0;
    width: 350px;
    height: 100px;
}
button:hover {
    background-color: #e0333f;
}
button:active {
    background-color: #d12f39;
    box-shadow: 0 5px #28266131;
    transform: translateY(4px);
}
p {
    color:#282661;
    font-size: 2em;
    text-align: center;
}